# JAVA stuff start
*.class

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear
target/

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

# mysql folder on disc
.data

# Eclipse
.classpath
.project
.settings/

# Intellij
.idea/
*.iml
*.iws

# Visual Studio
# User-specific files
.vs/
.vscode/
*.suo
*.user
*.userosscache
*.sln.docstates

# Sublime
*.sublime-project
*.sublime-workspace

# Mac
.DS_Store
$RECYCLE.BIN/